@font-face {
    font-family: 'Open Sans';
    src: url('opensans-light-webfont-webfont.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'), url('opensans-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont-webfont.woff') format('woff'),
         url('opensans-light-webfont-webfont.ttf') format('truetype'),
         url('opensans-light-webfont-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont-webfont.eot');
    src: local('Open Sans'), local('OpenSans'), url('opensans-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont-webfont.woff') format('woff'),
         url('opensans-regular-webfont-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bold-webfont-webfont.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('opensans-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont-webfont.woff') format('woff'),
         url('opensans-bold-webfont-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rambla';
    src: url('rambla-regular-webfont.eot');
    src: local('Rambla'), local('Rambla-Regular'), url('rambla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rambla-regular-webfont.woff') format('woff'),
         url('rambla-regular-webfont.ttf') format('truetype'),
         url('rambla-regular-webfont.svg#ramblaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
