<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <a href="#content" class="sr-only">Skip to content</a>

    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
      <div class="navbar-static-top">

        <!--Hidden Header Region-->
        <div class="header-hidden">
          <div class="header-hidden-inner container">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <h3>
                  Welcome!
                </h3>
                <p>Here's where we talk about the app and everything about it!</p>
                <a href="about.htm" class="btn btn-sm btn-primary">More...</a>
              </div>
              <div class="col-sm-4 col-md-4">
                <!--Colour Switch for demo - @todo: remove in production-->
                <div class="colour-switcher">
                  <h3>
                    Ride with Style
                  </h3>
                  <a href="#green" class="green active" data-toggle="tooltip" data-placement="bottom" data-original-title="Green (Default)">Green</a> <a href="#red" class="red" data-toggle="tooltip" data-placement="bottom" data-original-title="Red">Red</a> <a href="#blue" class="blue" data-toggle="tooltip" data-placement="bottom" data-original-title="Blue">Blue</a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end header-hidden -->

        <!--Header upper region-->
        <div class="header-upper">
          <div class="header-upper-inner container">
            <div class="row">
              <div class="col-xs-8 col-xs-push-4">
              <!--Show/hide trigger for #hidden-header -->
                <div id="header-hidden-link">
                  <a href="#" title="Click me you'll get a surprise" class="show-hide" data-toggle="show-hide" data-target=".header-hidden" data-callback="searchFormFocus"><i></i>Open</a>
                </div>

                <!--social media icons-->
                <div class="social-media">
                  <!--@todo: replace with company social media details-->
                  <a href="#"> <i class="fa fa-twitter-square"></i> </a>
                  <a href="#"> <i class="fa fa-facebook-square"></i> </a>
                  <a href="#"> <i class="fa fa-google-plus-square"></i> </a>
                </div>
              </div>
              <div class="col-xs-4 col-xs-pull-8">
                <!--user menu-->
                <div class="btn-group user-menu">
                  <a href="login.htm" class="btn btn-link login-mobile"><i class="fa fa-user"></i></a>
                  <a href="#signup-modal" class="btn btn-link signup" data-toggle="modal">Sign Up</a>
                  <a href="#login-modal" class="btn btn-link login" data-toggle="modal">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end header-upper -->

        <!--Header search region - hidden by default -->
        <div class="header-search">
          <form class="search-form container">
            <input type="text" name="search" class="form-control search" value="" placeholder="Search">
            <button type="button" class="btn btn-link"><span class="sr-only">Search </span><i class="fa fa-search fa-flip-horizontal search-icon"></i></button>
            <button type="button" class="btn btn-link close-btn" data-toggle="search-form-close"><span class="sr-only">Close </span><i class="fa fa-times search-icon"></i></button>
          </form>
        </div>

        <!--Header & Branding region-->
        <div class="header" data-toggle="clingify">
          <div class="header-inner container">
            <div class="navbar">
              <div class="pull-left">
              <!--branding/logo-->
                <a class="navbar-brand" href="index.htm" title="Home">
                  <h1>
                    <span>Bike</span>++<span></span>
                  </h1>
                </a>
                <div class="slogan">2 makes a ride</div>
              </div> <!-- end pull-left -->

              <!--Search trigger -->
              <a href="#search" class="search-form-tigger" data-toggle="search-form" data-target=".header-search"></span>
                <i class="fa fa-search fa-flip-horizontal search-icon"></i>
              </a>

              <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
              <a href="#top" class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse" data-direction="right"><i class="fa fa-bars"></i></a>

              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-collapse collapse">
              <!--main navigation-->
                <ul class="nav navbar-nav">
                  <li class="home-link">
                    <a href="home.htm"><i class="fa fa-home"></i><span class="hidden">Home</span></a>
                  </li>

                  <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">BASICS +</a>
                    <!-- Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="pages-drop">
                      <li class="dropdown dropdown-submenu">
                        <a href="about.htm" class="dropdown-toggle" id="about-drop" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">About</a>
                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop">
                          <li role="presentation">
                            <a role="menuitem" href="about.htm" tabindex="-1" class="menu-item">About Us</a>
                          </li>
                        </ul>
                      </li>
                      <li role="presentation"><a role="menuitem" href="contact.htm" tabindex="-1" class="menu-item">Contact</a></li>
                      <li class="active" role="presentation"><a role="menuitem" href="login.htm" tabindex="-1" class="menu-item">Login</a></li>
                      <li role="presentation"><a role="menuitem" href="signup.htm" tabindex="-1" class="menu-item">Sign Up</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="blog.htm" class="dropdown-toggle" id="blog-drop" data-toggle="dropdown" data-hover="dropdown">Tools for the Road +</a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="blog-drop">
                      <li role="presentation">
                        <a role="menuitem" href="features.htm" tabindex="-1" class="menu-item">Ride Safe</a>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-full">
                    <a href="#" class="dropdown-toggle menu-item" id="megamenu-drop" data-toggle="dropdown" data-hover="dropdown">FIND A RIDE +</a>
                    <!-- Dropdown Menu - Mega Menu -->
                    <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="megamenu-drop">
                      <li role="presentation" class="dropdown-header">The Explanation about finding the Ride</li>
                      <li role="presentation">
                        <ul class="row list-unstyled" role="menu">
                          <li class="col-md-3" role="presentation">
                            <a role="menuitem" href="rides_1.htm" class="img-link">
                              <img src="img/features/feature-1.png" alt="Feature 1" />
                            </a>
                            <a role="menuitem" href="rides_1.htm" tabindex="-1" class="menu-item"><strong>I want to Ride</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
                          </li>
                          <li class="col-md-3" role="presentation">
                            <a role="menuitem" href="rides_2.htm" class="img-link">
                              <img src="img/features/feature-2.png" alt="Feature 2" />
                            </a>
                            <a role="menuitem" href="rides_2.htm" tabindex="-1" class="menu-item"><strong>Join a Ride</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
                          </li>
                          <li class="col-md-3" role="presentation">
                            <a role="menuitem" href="rides_3.htm" class="img-link">
                              <img src="img/features/feature-3.png" alt="Feature 3" />
                            </a>
                            <a role="menuitem" href="rides_3.htm" tabindex="-1" class="menu-item"><strong>Rides Near Me</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
      <!-- Login form -->
      <form class="form-login form-wrapper form-narrow">
        <div class="form-group">
          <label class="sr-only" for="login-email-page">Username</label>
          <input type="email" id="login-email-page" class="form-control email" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="login-password-page">Password</label>
          <input type="password" id="login-password-page" class="form-control password" placeholder="Password">
          <a href="#">Forgotten Password?</a><br>
        </div>
        <button type="button" class="btn btn-primary">Login</button>
        <h3 class="title-divider">
          <small>Not a member yet? <a href="signup.htm">Sign Up!</a></small>
        </h3>
      </form>
    </div>
  </div>

<!-- FOOTER -->
<!-- ======== @Region: #footer ======== -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block">
          <!--@todo: replace with company contact details-->
          <h3>
            Contact Us
          </h3>
          <address>
            <ul class="fa-ul">
              <li>
                <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                019223 8092344
              </li>
              <li>
                <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                info@appstraptheme.com
              </li>
              <li>
                <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                Sunshine House, Sunville. SUN12 8LU.
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="toplink">
        <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
      </div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="col-md-6">
          <p>Bike + + | Copyright 2014 &copy;</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements jpanel-menu-exclude">
  <!--@modal - signup modal-->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            Sign Up
          </h4>
        </div>
        <div class="modal-body">
          <form action="signup.htm" role="form">
            <h5>
              Incentive Message Here
            </h5>
            <div class="form-group">
              <label class="sr-only" for="signup-username">Userame</label>
              <input type="text" class="form-control" id="signup-username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-password">Password</label>
              <input type="password" class="form-control" id="signup-password" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="term">
                I agree with the Terms and Conditions.
              </label>
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
          </form>
        </div>
        <div class="modal-footer">
          <small>Already signed up? <a href="login.htm">Login here</a>.</small>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!--@modal - login modal-->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            Login
          </h4>
        </div>
        <div class="modal-body">
          <form action="login.htm" role="form">
            <div class="form-group">
              <label class="sr-only" for="login-email">Email</label>
              <input type="email" id="login-email" class="form-control email" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login-password">Password</label>
              <input type="password" id="login-password" class="form-control password" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary">Login</button>
            | <small><a href="#">Forgotten password?</a></small>
          </form>
        </div>
        <div class="modal-footer">
          <small>Not a member? <a href="signup.htm" class="signup">Sign up now!</a></small>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

  </body>
</html>
